//
// Layout Grid
//

@import "measurements";
@import "media-queries";

@mixin full-width-wrapper {
  max-width: calc(#{$max-width} - (#{$general-padding * 2}));
  padding: 0 ($general-padding * 17);
  position: relative;
  margin: 0 auto;
  @include clearfix;

  @include media($largescreen-breakpoint) {
    padding: 0 ($general-padding * 19.5);
  }

  @include media($tabletscreen-breakpoint) {
    padding: 0 ($general-padding * 4.5);
  }

  @include media($mediumscreen-breakpoint) {
    padding: 0 ($general-padding * 1.5);
  }

  @include media($xtrasmallscreen-breakpoint) {
    padding: 0 ($general-padding / 2);
  }
} // /full-width-wrapper

@mixin row {
  margin: 0 -0.5rem;
  min-height: 1rem;
  @include clearfix;

  @include media($mediumscreen-breakpoint) {
    margin: 0 $general-padding / 2;
  }
}

@mixin column-type(
    $border: 0,
    $float: left,
    $margin-bottom: 1rem,
    $padding-left-right: 0.5rem,
    $width: auto) {
  border: $border;
  float: $float;
  margin-bottom: $margin-bottom;
  min-height: 1rem;
  padding: 0 $padding-left-right;
  width: $width;
  @include clearfix;

  @include box-sizing(border-box);

  // @include media($largescreen-breakpoint) {
  //   padding: 0 9.5rem;
  // }

  @include media($mediumscreen-breakpoint) {
    float: none;
    padding: 0;
    width: auto;
  }
}

@mixin column-full {
  @include column-type($float: none);
}

@mixin column-half {
  @include column-type($width: $half);
}

@mixin column-one-quarter {
  @include column-type($width: $one-quarter);
}

@mixin column-one-third {
  @include column-type($width: $one-third);
}

@mixin column-two-thirds {
  @include column-type($width: $two-thirds);
}

@mixin column-three-quarters {
  @include column-type($width: $three-quarters);
}

@mixin column-offset($column-count) {
  margin-left: percentage($column-count / 4);

  @include media($mediumscreen-breakpoint) {
    margin-left: 0;
  }
}
