//
// font base values
//
$basefontraw: 16;
$basefont: $basefontraw * 1px;
$small-type: ($basefont * 0.9);

//
// page measures

$max-width-raw: 1312;
$max-width: ($max-width-raw / $basefontraw) * 1rem; // in rems

// breakpoints
$largescreen-breakpoint: 1120px;
$tabletscreen-breakpoint: 965px;
$mediumscreen-breakpoint: 483px;
$xtrasmallscreen-breakpoint: 320px; // iPhone SE
