@import "normalize";
@import "base";
@import "colors";
@import "typography";
@import "general-mixins";
@import "grid";

body {
  @include font-settings;
}

.hero {
  background: $nypl-red;
  color: $nypl-white;

  span {}

  h1 {
    font-size: 3rem;
  }

  .header-image {

  }
} // /.hero

//
// grid & layout
//

.full-width-wrapper {
  @include full-width-wrapper;
}

.row {
  @include row;
}

.library-logos {

  &__blocks {

    &.logo-block {
      display: block;
      width: 33%;

      span {
        display: block;
        width: 100%;
      }

      a {
        @include button;
        display: block;
      }

      .svg-icon {
        height: 5rem;
        fill: $nypl-dark-gray;
      }

      .queens-icon {
        height: 4.25rem;
        width: 14.8125rem;
      }
    }
  }
} // /.library-logos

footer {
  margin-top: 5rem;

  .graphic-container {
    background: $am-teal;
    height: 15rem;

    img {
      float: right;
      position: relative;
      right: 1rem;
      top: -7.2rem;
    }
  }
}
