@import "normalize";
@import "base";
@import "colors";
@import "typography";
@import "general-mixins";
@import "grid";


//
// basics
//
body {
  @include font-settings;
}

//
// Screen readers
.screenreader-only {
  @include screenreader-only;
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $nypl-teal-dark;
  display: block;
  font-size: 1rem;;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;
}

#skip a:focus {
    border: 5px solid $nypl-blue;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
//
// basic settings for the headings
//
h2,
h3,
h4 {
  color: $nypl-teal-dark;

  &.chinese-text {
    font-size: 1.5rem;
    font-weight: 200;
  }
}



//
// Hero Space at the top of the page
//
.hero {
  background-color: darken($nypl-red, 8%);
  background-image: url("../newstart/img/iconBG.png");
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  color: $nypl-white;
  margin-bottom: ($general-margin * 3);
  padding: ($general-padding * 2) 0 0;
  text-align: center;

  @include media($largescreen-breakpoint) {
    background-position: top;
    background-size: 50%;
  }

  @include media($tabletscreen-breakpoint) {
    background-position: top;
    background-size: 60%;
  }

  @include media($mediumscreen-breakpoint) {
    background-position: top -2rem left 0;
    background-size: 140%;
  }

  @include media($xtrasmallscreen-breakpoint) {
    background-position: top;
    background-size: cover;
  }

  span {
    display: block;
    font-size: 1.65rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 4px rgba(60, 60, 60, 0.5);
    text-transform: uppercase;

    @include media($mediumscreen-breakpoint) {
      font-size: 1.25rem;
    }

    @include media($xtrasmallscreen-breakpoint) {
      font-size: 1rem;
    }

    &.spanish-subhead {
      font-size: 1rem;
      margin-top: $general-margin;
    }
  }

  .header-image {
    text-align: center;
    width: 100%;

    @include media($largescreen-breakpoint) {
      height: 11rem;
    }

    @include media($tabletscreen-breakpoint) {
      height: 9rem;
    }

    @include media($xtrasmallscreen-breakpoint) {
      height: 6rem;
      margin-left: 1%;
    }

    img {
      height: 11rem;

      @include media($tabletscreen-breakpoint) {
        height: 9rem;
        width: 100%;
      }

      @include media($xtrasmallscreen-breakpoint) {
        height: 6rem;
      }
    }
  }
} // /.hero



//
// grid & layout
//
.full-width-wrapper {
  @include full-width-wrapper;
}

.row {
  @include row;
}

.column-full {
  @include column-full;
}

.column-half {
  @include column-half;
}

.column-one-third {
  @include column-one-third;
}

.column-two-thirds {
  @include column-two-thirds;
}

.program-details {
  &:nth-child(2) {
    margin-top: ($general-margin * 3.5);

    h2 {
      @include media($xtrasmallscreen-breakpoint) {
        line-height: 1.2;
      }
    }
  }
}

//
// Logo Blocks
//
.library-logos {

  &__blocks {


    &.logo-block {
      display: block;
      text-align: center;
      width: 33%;

      @include media($mediumscreen-breakpoint) {
        border-bottom: 1px solid transparentize($nypl-teal-dark, 0.8);
        margin-bottom: ($general-margin * 2);
        padding-bottom: ($general-padding * 2);
        width: 100%;
      }

      // @include media($xtrasmallscreen-breakpoint) {
      //   border-bottom: 1px solid transparentize($nypl-teal-dark, 0.8);
      //   margin-bottom: ($general-margin * 2);
      //   padding-bottom: ($general-padding * 2);
      //   }

      .svg-container {

        @include media($largescreen-breakpoint) {
          height: 8rem;
        }

        @include media($tabletscreen-breakpoint) {
          height: 6rem;
        }
      } // /svg-container

      svg {

        @include media($mediumscreen-breakpoint) {
          width: 50%;
        }

        @include media($xtrasmallscreen-breakpoint) {
          width: 70%;
        }
      } // svg



      //
      // Brooklyn logo
      //
      &.brooklyn-logo {

        .svg-container {
          @include media($mediumscreen-breakpoint) {
            height: 4rem;
          }

          @include media($xtrasmallscreen-breakpoint) {
            height: 4rem;
          }
        }

        svg {
          height: 4rem;
        }

        span {

          @include media($xtrasmallscreen-breakpoint) {
            height: 1.2rem;
            margin-bottom: $general-margin;
          }
        }
      } // /brooklyn-logo



      //
      // nypl logo
      //
      &.nypl-logo {

        .svg-container {}

        svg {
          height: 6rem;
        }

        span {
          @include media($mediumscreen-breakpoint) {
            height: 3rem;
            margin-bottom: $general-margin;
          }
        }
      } // /.nypl-logo


      //
      // Queens logo
      //
      &.queens-logo {
        .svg-container {

          @include media($mediumscreen-breakpoint) {
            height: 3.5rem;
          }

          @include media($xtrasmallscreen-breakpoint) {
            height: 2.5rem;
          }
        } // /.svg-container

        svg {
          @include media($mediumscreen-breakpoint) {
            width: 65%;
          }

          @include media($xtrasmallscreen-breakpoint) {
            width: 80%;
          }
        }
      } // /Queens logo

      span {
        display: block;
        line-height: 1.2;
        margin: $general-margin 0;
        width: 100%;

        @include media($largescreen-breakpoint) {
          height: 4.2rem;
        }

        @include media($tabletscreen-breakpoint) {
          height: 6.2rem;
        }

        @include media($mediumscreen-breakpoint) {
          height: 2.5rem;
          margin-bottom: 0;
        }
      }

      a {
        font-size: 1rem;
        margin: auto;
        width: 6.85rem;
        @include button;

        @include media($tabletscreen-breakpoint) {
          font-size: 80%;
          height: auto;
          padding: 0.5rem 0;
        }
      } // /a

      .svg-icon {
        fill: $nypl-dark-gray;
        width: 100%;
      }
    } // /.logo-block
  } // /__blocks
} // /.library-logos

footer {
  background: $am-teal;
  margin-top: 10rem;

  @include media($mediumscreen-breakpoint) {
    margin-top: 8rem;
  }

  .graphic-container {
    height: 15rem;

    img {
      float: right;
      position: relative;
      right: 1rem;
      top: -7.2rem;

      @include media($xtrasmallscreen-breakpoint) {
        right: -1.5rem;
      }
    }
  }
}
