/*   DEFAULT CSS   */

.text-white{
	color:white;
}

#countdown-clock-wrapper{
	margin: 0;
	height: 220px;
}

.time-cube{
	height:100%;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #016975;
}

.count{
	margin-top: 5px;
}

.census-date, .embed-image, .census-text{
	color: #016975; 
}

.embed-image{
	font-weight: bolder;
	font-size: 16pt;
	margin-top:5px;		
	cursor: pointer;
	float: right;
}

h1{
	margin-top: 10px;
	margin-bottom: 0px;
	padding:0;
}

h3{
	margin-top: 0px;
	padding:0;
}




/*   MODAL POPUP   */

html{
  
  
  
}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:95%;
  margin-top: 2%;
  left:2%; 
  z-index: 99999;
}

.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;  
    
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

.close-image{
	cursor: pointer;
}


/*     MEDIA QUERIES    */

@media screen and (max-width: 2000px){	
	.count-label{
		font-size: 1.5em;
	}	
	.count{
		font-size: 1.8em;
		margin-top:0px;	
	}
	.time-cube{
		padding-left: 0;
		padding-right: 0;
		
	}
}

@media screen and (max-width: 992px){
	
}

@media screen and (max-width: 768px){
	
}

@media screen and (max-width: 576px){
	.count-label{
		font-size: .9em;
	}	
	.count{
		font-size: 1.3em;
		padding-top:5px;
	}
	.time-cube{
		padding-left: 0;
		padding-right: 0;
		padding-top: 5;
		padding-bottom: 5;		
	}
}

@media screen and (max-width: 360px){
	h1{
		font-size: 1.9rem;
	}
}

@media screen and (max-width: 345px){
	h1{
		font-size: 1.9rem;		
	}
	
}



@media screen and (max-width: 339px){
	h1{
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 331px){
	h1{
		font-size: 1.6rem;
	}
	.count-label{
		font-size: .7em;
	}	
	.count{
		font-size: 1em;
		margin-top:0px;	
	}
	
@media screen and (max-width: 295px){
	h1{
		font-size: 1.6rem;
	}
	.count-label{
		font-size: .7em;		
	}	
	.count{
		font-size: 1em;
		margin-top:0px;	
	}

}

}

